body {
  padding: 50px;
  padding-top: 7rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
